/* #topNavigation {
    background-color: var(--darkBox);
    height: 50px;
    border-bottom: 1px solid var(--darkBorder);
    display: flex;
    align-items: center;
}

.redditLogoContainer {
    margin: 10px;
}

#redditLogo {
    height: 35px;
}

#logInButton {
    color: var(--whiteText);
    border: 1px solid var(--whiteText);
    border-radius: 20px;
    padding: 5px 35px 5px 35px;
    font-size: 14px;
    text-transform: unset !important;
    margin: 10px;
    white-space: nowrap;
}

#logInButton:hover {
    background-color: #2f3131;
}

#signUpButton {
    background-color: #D7DADC;
    border-radius: 20px;
    padding: 5px 35px 5px 35px;
    font-size: 14px;
    color: var(--darkBox);
    text-transform: unset !important;
    white-space: nowrap;
    margin: 10px;
}

#signUpButton:hover {
    background-color: #b1b5b8;
}

@media only screen and (max-width: 700px) {
    #signUpButton {
        display: none;
    }
    #logInButton {
        display: none;
    }
    .usernameDisplay {
        display: none;
    }
  } */