/* .createPostFormBox {
    background-color: var(--darkBox);
    padding: 20px;
}

.inputMarginBottom {
    margin-bottom: 20px;
    background-color: var(--darkBox);
}

#topCommunities {
    border: none;
    text-align: start;
    padding: 20px;
    margin-top: 0px !important;
}

#postButton {
    background-color: #D7DADC;
    border-radius: 20px;
    padding: 5px 35px 5px 35px;
    font-size: 14px;
    color: var(--darkBox);
    text-transform: unset !important;
    white-space: nowrap;
} */