/* :root {
  --darkBox: #212222;
  --darkBackground: #030303;
  --darkBorder: #515151;
  --whiteText: #ffffff;
  --darkTextInputBackground: #272729;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background-color: var(--darkBackground);
}

.whiteText {
  color: var(--whiteText) !important;
}

This is styling Mui MenuItem, for styling other ul's use classes or id's 
ul {
  background-color: var(--darkBox);
  border: 1px solid var(--darkBorder);
}

.darkHeader {
  margin-bottom: 20px;
  font-size: 18px;
}

.verticalFlexRight {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 300px;
}

.verticalFlexLeft {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 600px;
}

.myContainer {
  display: flex;
  justify-content: center;
}

.verticalBox {
  background-color: var(--darkBox);
  border-radius: 5px;
  border: 1px solid var(--darkBorder) !important;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.darkIcon {
  color: var(--whiteText);
  font-size: 25px !important;
  margin-right: 10px;
}

.myLink {
  text-decoration: none !important;
} */