:root {
  --darkBox: #212222;
  --darkBackground: #030303;
  --darkBorder: #424242;
  --whiteText: #ffffff;
  --darkTextInputBackground: #272729;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background-color: var(--darkBackground);
}

.whiteText {
  color: var(--whiteText) !important;
}

ul {
  background-color: var(--darkBox);
  border: 1px solid var(--darkBorder);
}